.app-container {
  /* Остальные стили */
  background-image: url("cat-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  /* Остальные стили */
  margin-bottom: 40px;
}

form {
  width: 100%;
  max-width: 400px;
}

form label {
  font-weight: bold;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="file"] {
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #ff6f69;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #ff4c42;
}
